:root {
    --task-height:10em;
    --task-width:14em;
}

body {
    height:100vh !important;
    overflow: hidden;

    background:black;
}

#parent {
    display:flex;
    justify-content: space-between;
    align-items: center;

    height:calc(100vh - 2ch);
    width:calc(100vw - 2ch);

    margin:0;
    padding:1ch;

    overflow:hidden;
}

#sidebar {
    display:flex;
    justify-content: start;
    align-items:center;

    flex-direction: column;

    min-width:30ch;
    width:max-content;
    height:100%;

    user-select: none;
    -webkit-user-select: none;

    & > div {
        width:calc(100% - 3ch);
        padding:1.5ch;
        margin-top:1ch;
    
        background:var(--tertiary);
        border-radius:var(--border-radius);
    }

    & > div:first-of-type {
        margin-top:0;
    }

    #user-data {
        display:flex;
        justify-content: start;
        align-items: center;

        cursor:pointer;

        img {
            height:4ch;
            padding-right:1.5ch;
        }
    
        h4 {
            font-size:1.5em;
        }
    
        h4:last-child {
            font-style:italic;
            color:#fff7;
            font-size:0.9em;
        }
    }

    #create {
        display:flex;
        justify-content: start;
        align-items: start;
    
        cursor:pointer;

        &:hover img {
            transform:rotateZ(360deg);
        }
        
        img {
            height:2ch;
            background:var(--primary);
        
            padding:1ch;
        
            margin-right:1.5ch;
        
            border-radius:1000px;
        
            transition-duration:0.5s;
        }
        
        h5 {
            user-select: none;
            -webkit-user-select: none;
        
            font-size:1.5em;
        }
        
        &[aria-label='open'] > div > div {
            height:4.5em;
        }
        
        & > div > div {
            display:flex;
            justify-content: start;
            align-items:start;
        
            flex-direction: column;
        
            overflow:hidden;
        
            height:0;
        
            background:var(--tertiary);
        
            transform:translateZ(0);
            transition-duration: 0.3s;

            h5:hover {
                text-decoration: underline;
            }
        }
    }

    #soon {
        width:calc(100% - 4ch);
        padding:2ch;
    
        cursor:pointer;
    
        & > h5 {
            font-size:1em;
            color:#fff9;
            font-style:italic;
        }
    
        #actions {
            display:flex;
            justify-content:space-between;
            align-items:center;
    
            /* margin-top:1ch; */
    
            h5 {
                font-size:1.1em;
                margin-left:1ch;
    
                &:last-child {
                    background: var(--primary);
                    padding:1ch 0.8em;
                    margin:0;
                    border-radius:var(--border-radius);
            
                    cursor:pointer;
                }
            }
        }
    }
}

#main {
    /* background:var(--tertiary); */
    width:90%;
    margin-left:1ch;
    height:100%;

    border-radius:var(--border-radius);

    overflow-x:auto;
    overflow-y:auto;

    position:relative;

    table {
        border-collapse: collapse;
    }
    
    /* #region header headache */
    thead {
        /* little top left corner */
        th:first-of-type {
            min-width: 5ch !important;
            width: 5ch !important;
            max-width: 5ch !important;
        }

        /* horizontal headers */
        th:last-of-type {
            padding:0;
        
            z-index: 100;
        
            position:sticky;
            top:0;
        }
    }
    
    /* time + events container */
    #header-container {
        display:flex;

        /* day + date in header */
        .header {
            background:var(--tertiary);
            border-radius:var(--border-radius);
        
            width:calc(var(--task-width) - 3ch) !important;
        
            margin:0 1.5ch;
        
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &[aria-label='highlighted'] {
                background:var(--primary);

                & h4:last-of-type {
                    font-size:3em;
                    font-weight: bolder;
                }
            }
            
            /* day + date text in header */
            h4 {
                width: fit-content;

                /* date text in header */
                &:last-child {
                    font-size: 2.4em;
                }
            }

            & > div:first-of-type {
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
    
    table h4 {
        font-size:1.3em;
    }
    
    /* vertical headers */
    tbody td:first-child {
        position:sticky;
        left:0;
    
        z-index: 50;

        /* time container in vertical header */
        & > div {
            height:var(--task-height);
        
            display:flex;
            justify-content: center;
            align-items: end;

            /* time text in vertical header */
            h4 {
                transform:translateY(50%);
            }
        }
    }
    /* #endregion */

    #gridline {
        position:absolute;
    
        font-size:1em;
    
        width:calc(7 * var(--task-width));
    
        z-index: 1;

        hr {
            border-collapse: collapse;
            padding:0;
            margin:0;
            border-style:solid;
            border-width:1px;
        
            border-right-width: 0;
            border-left-width: 0;
        
            width:100%;
        
            color:#fff4; 
        
            margin-top:calc(var(--task-height) - 2px);
        }
    }
    
    #content {
        height:calc(24 * var(--task-height));
        display:inline-block;
    
        width:100%;
    
        align-items:start;
    }
    
    tbody td {
        padding:0;
        /* dont know why theres even 1 padding by default */
    }
}

#time-pointer {
    position:absolute;

    width:calc(7 * var(--task-width));

    transform:translateY(-50%);

    hr {
        border-collapse: none;
        border-style:solid;
        border-color:var(--primary);
    
        flex:1;
    }
}

#time-pointer-text {
    position:absolute;
    height:fit-content !important;
    overflow:hidden;

    transform:translateY(-50%);

    width:100% !important;

    z-index: 60;

    h4 {
        font-size:1em !important;
    
        background:black !important;
    
        transform:none !important;
    }
}

/* #region item */
#main #field {
    position:relative;

    height:100%;
    width:100%;

    z-index: 20;
}

.item, .item-container {
    position:absolute;

    top:0;

    background:var(--tertiary);
    border-radius:var(--border-radius);

    width:calc(var(--task-width) - 2ch - 4ch);
    margin:0 1ch;
    padding:2ch;

    height:calc(20em - 4ch);

    cursor:pointer;

    filter:drop-shadow(0 0 10px #0009);
}

.item {
    display:flex;
    justify-content: start;
    align-items: start;

    flex-direction: column;

    /* overflow:hidden; */


    img#completion {
        height:2ch;
        margin-right:1ch;

        content:url("/assets/uncompleted.png");
    }

    #completion {
        display:none;
    }

    /* TODO : FIX THIS */
    &[dataset-completed] #completion {
        display:block !important;
    }

    &[dataset-completed='false'] #completion {
        /* display:block !important; */
    }

    &[dataset-completed='true'] #completion {
        /* display:block !important; */
        content:url("/assets/completed.png") !important;
    }

    & > div {
        display:flex;
        justify-content: start;
        align-items: center;

        width:100%;
        height:max-content !important;

        overflow: hidden;
    }

    #title {
        font-size: 1.2em;

        flex: 1;

        white-space:nowrap;
        text-overflow:ellipsis;
    }

    #description {
        font-style:italic;
        font-size:0.9em;
    }

    #time {
        font-style:italic;
        color:#fffb;

        font-size:0.9em;
    }
}

.item-container {
    background:var(--primary);

    display:flex;
    justify-content: center;
    align-items: center;

    /* fixes drop shadow being cut off when displaying above other elements */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);

    z-index: 200;

    #user-click {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
    
        border-radius: var(--border-radius);
    }
    
    /* number of grouped items */
    h1 {
        font-size:3em;
    
        text-align: center;
        margin-left:0.5ch;
    }
    
    > img#arrow {
        left:calc(100% + 1em);
    
        position:absolute;
        height:2em;
    
        opacity: 0;
    
        transition-duration:0.3s;
    }
    
    &[aria-label='open'] > img#arrow {
        left:calc(100% - 3em);
    
        transform:rotateY(180deg);
    }
    
    &:hover > img#arrow {
        opacity: 1;
    }
    
    #children {
        opacity: 0;
    
        overflow:auto;
    }
    
    .item {
        filter:none;
        transition-duration:0.3s;
    
        top:0 !important;
    
        /* fixes drop shadow being cut off when displaying above other elements */
        -webkit-transform:translateZ(0);
        transform:translateZ(0);
    }

    &[aria-label='closed'] #children {
        pointer-events: none;
    }
    
    &[aria-label='open'] #children {
        opacity: 1;

        .item {
            filter:drop-shadow(0 0 10px #0009);
        
            cursor:pointer;
        }
    }
}

/* #endregion */

#content {
    #time {
        margin-top:1em;
        /* padding-left:1em; */
    
        /* border-left-style:solid;
        border-width:2px;
        border-color:#fff3; */
    
        display:flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
    
        h4 {
            margin-right:1ch;
            width: max-content;
        }
    
        & > div {
            display:flex;
            justify-content: start;
    
            h4 {
                margin:0 1ch;
            }
        }
    
        #start, #end {
            display:flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
    
            div + * {
                font-size: 1em;
                color:#fffa;
                font-style:italic;
            }
    
            input[type="date"] {
                border:none;
                background:none;
            }
    
            & > div {
                display:flex;
                justify-content: start;
                align-items: center;
                flex-direction: row;
        
                height:2em;
                overflow: hidden;
                transition-duration:0.3s;
            }
    
            input[type="number"] {
                font-size: 1.0em;
            
                height:fit-content;
                width:2ch;
            
                margin:0 0.3ch;
                padding:0;
            
                text-align: end;
                border:none;
            
                color:var(--text);
                background:none;
            }
        }
    
        input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            display:none;
            margin:0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    
        label#all-day {
            user-select: none;
            -webkit-user-select: none;
        
            height:2em;
        
            h4 {
                color:#fff5;
            
                cursor:pointer;
            }
        
            input {
                display:none;
            }
    
            &:has(input:checked) {
                h4 {
                    color:#fff;
                    text-decoration: underline;
                }
            
                #start > div:first-of-type, 
                #end > div:first-of-type {
                    height:0;
                }
            }
        }
    
        :has(label#all-day input:checked) {
            #start > div:first-of-type,
            #end > div:first-of-type {
                height:0;
            }
        }
    }

    #task-creation { 
        /* background:red; */
        /* background:var(--primary); */
        background:crimson;

        position:absolute;
        padding:3ch;

        border-radius:var(--border-radius);

        z-index: 1000;

        filter:drop-shadow(0 0 20px #0009);

        user-select: none;
        -webkit-user-select: none;

        &[aria-label='closed'] {
            display:none;
        }

        #exit-button {
            width: 2ch;
        
            cursor:pointer;
        }

        & > div:first-of-type {
            display:flex;
            justify-content: space-between;
            align-items: start;
        }

        #title, #description {
            border:none;
            background:none;
            color:white;

            width:20ch;

            margin-right:2ch;

            font-size: 2em;
        }

        #description {
            font-size: 1.2em;
        
            width:35ch;
            /* height:4em; */
            height:4em;
        
            text-align: start;
            align-items: start;
        
            resize:none;
        
            /* height:3em; */
        }

        #colour-picker {
            z-index: 50;

            margin-right:1.5ch;

            img {
                /* filter:drop-shadow(0 2px 3px #0007); */
            
                transform:translateZ(0);
            
                height:4ch;
            
                margin:0;
                padding:0;
            
                cursor:pointer;
            }

            hr {
                border:none;
                padding:0;
                margin:0;
            
                height:4ch;
                aspect-ratio: 1;
                /* width:5ch; */
            
                background:crimson;
            
                border-radius: 1000px;
                cursor:pointer;
            }

            &[aria-label="closed"] > div{
                opacity: 0;
                pointer-events: none;
            }

            & > div {
                position:absolute;
                background:var(--tertiary);
            
                display:grid;
                grid-template-columns: auto auto auto auto auto;
                gap:1ch;
            
                padding:1ch;
            
                width: fit-content;
            
                border-radius:var(--border-radius);
            
                filter:drop-shadow(0 0 5px #0005);
            
                transform:translateZ(0);
            }
        }

        #type-selection {
            display:flex;
            justify-content: start;
            align-items: center;
        
            h4 {
                margin-right:2ch;
            
                cursor:pointer;
            
                color:#fff5;
            }
        
            & > h4 {
                color:white;
                cursor:default;
            }
        
            & > div {
                display:flex;
                justify-content: start;
                align-items: center;
            }
        
            label input {
                display:none;
            }
        
            label:has(input:checked) h4 {
                color:white;
                text-decoration: underline;
            }
        }

        & > div:last-of-type {
            display:flex;
            justify-content: space-between;
            align-items: center;
        
            margin-top:2em;
        
            & > div:last-of-type {
                display:flex;
                align-items: center;
            }
        }
        
        #create {
            width:fit-content;
        
            border-radius:var(--border-radius);
        
            /* background:red; */
            background:var(--primary);
        
            padding:0.8ch 0.8em;
        
            cursor:pointer;
        
            &[aria-label='disabled'] {
                opacity: 0.5;
            
                cursor:not-allowed;
            }
        }

        &[data-species="Repeating"] #time {
            input[type="date"] {
                display:none;
            }
        
            &:has(label#all-day input:checked) {
                & > div > * {
                    display:none;
                }
            
                #all-day {
                    display:block;
            
                    h4 {
                        margin-left:0;
                    }
                }
            }
        }

        &[data-species="Once"] #repeat {
            display:none;
        
            pointer-events: none;
        }
    
        #repeat {
            display:flex;
            justify-content: start;
            align-items: center;
        
            margin-top:1em;
        
            & > div {
                display:flex;
                justify-content: start;
            
                margin-left:1ch;
        
                input {
                    display:none;
                }
        
                label {
                    border-radius: 1000px;
                
                    user-select: none;
                
                    cursor:pointer;
        
                    h5 {
                        display:flex;
                        justify-content: center;
                        align-items: center;
                    
                        padding:1ch;
                    
                        font-size: 1.2em;
                    
                        color:#fff5;
                    
                        width:0.5em !important;
                        height:0.5em !important;
                    
                        text-align: center;
                    
                        user-select: none;    
                    }
        
                    &:has(input:checked) {
                        text-decoration: underline;
        
                        h5 {
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}
/* #endregion */


/* #region overlay */
#overlay {
    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background:#0009;

    z-index: 10000;

    display:flex;
    justify-content: center;
    align-items: center;

    &[aria-label='closed'] {
        opacity: 0;
        pointer-events: none;
    }
}
/* #endregion */
